*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Asap Condensed', sans-serif;
    font-family: 'Play', sans-serif;
    
}
.container{
    max-width: 1024px;
    width:100%;
    margin:0 auto;
}
header .container,
footer .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
}
header{
    position:sticky;
    top:0;
    left:0;
    z-index: 1;
    padding-top:16px;
}
header, footer{
    background-color:rgb(121, 4, 0);
    color:#fff;
    padding-top:16px;
}
header button{
    color:#fff;
    background-color:rgba(255, 6, 6, 0.842);
    border:none;
    padding:2px;
    cursor:pointer;
}
nav{
    background-color:rgba(255, 6, 6, 0.842);
    padding:16px 0;
    display:none;
}
nav li{
    display: inline;
    list-style: none;
    margin-right:16px;
    font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
}
nav li a{
    text-decoration:none;
    color:#fff;
}
nav li a:hover{
    text-decoration: underline overline;
}
.menuH{
    width:32px;
    cursor:pointer;
}
.menuH span{
    background-color:#fff;
    height:2px;
    width:100%;
    margin-bottom:4px;
    display:block;
}
.container-flex{
    display:flex;
}
.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap:1%;
    row-gap:5%;
}
section{
    padding:48px 0;
}
section h2{
    margin-bottom:16px;
    border-bottom:1px solid black;
}
section li{
    list-style:none;
}
#sobre img{
    max-width:300px;
    margin-right:24px;
}
.lista{
    flex-wrap: wrap;
    display:flex;
    gap:16px;
}
.lista li{
    flex: 1 0 30%;
    padding:26px;
}
.lista li img{
    max-width: 33,3%;
    height: 190px;
    margin-right:24px;
}
aside{
    padding-left: 40px;
}
aside .item{
    padding-bottom:24px;
}
.clear{
    clear:both;
}
.item button{
    background-color:#009e2a;
    border:none;
    color:#fff;
    padding:6px;
    margin-top:6px;
    cursor:pointer;
}
@media screen and (min-width:768px) and (max-width:1023px){
    .container{
        max-width: 90%;
    }
    .produtos{
        grid-template-columns: repeat(2, 49%);
    }
    .container-flex{
        display:block;
    }
    .lista li{
        padding:16px;
    }
}
@media screen and (max-width:767px){
    .container{
        max-width:90%;
    }
    .conteudo{
        display:block;
    }

}